@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color: #333;
    font: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f2f2;

}

/*header*/

.header {
    background-color: rgb(176, 127, 231);
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;


}

nav {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

nav img {
    width: 100px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

nav ul li a {
    text-decoration: none;
    color: beige;
    margin: 0 20px;
    font-weight: 600;
    transition: .5s;
}

nav ul li a:hover {
    color: rgb(238, 97, 31);
    text-decoration: underline;
}

nav .seleccionado{
    color:rgb(238, 97, 31);
}




#button {
    margin-left: 10px;
    background-color: rgb(37, 29, 29);
    font-weight: bold;
}

#iconomenu {
    color: rgb(112, 80, 16);
    font-size: 18px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

/*caurosel de imagenes*/
.carousel {
    width: auto;
    overflow: hidden;
    position: relative;
    margin: 200 auto;
    padding-top: 50px;
}

.carousel #carouselExampleInterval .carousel-inner {
    width: 100%;
    height: 100%;

}

.carousel #carouselExampleInterval .carousel-inner .carousel-item img {
    opacity: 0.8;
}


.carousel .presentacion {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}



.carousel .presentacion .bienvenida {
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(15, 14, 14);
    text-align: center;
    text-decoration: underline
}


.carousel .presentacion h2 {
    font-size: 50px;
    color: rgb(21, 13, 133);
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

/*quienes somos*/

#titulo {
    text-align: center;
    margin: 10px;
}


.contenedorsomos {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

.contenedorsomos .somos {
    text-align: center;
    align-items: center;
}

.contenedorsomos img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    margin: 10px;
}


.contenedorsomos .imgsomos img {
    width: 350px;
    height: 400px;
    border-radius: 10%;
    margin: 10px;
}

.contenedorsomos .imgsomos img:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}


/*Galeria de Imagenes*/

.linea {
    background-color: brown;
    height: 5px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40 0;
    overflow: hidden;
}

.galeria>a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .5);
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

/*Articulo Galeria img. grande*/

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 75vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: rgb(160, 50, 50);
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background-color: rgb(160, 50, 50);
    color: white;
    height: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}


/*pedido*/

.contenedor-pedido {
    background: linear-gradient(rgb(147, 156, 13), rgba(0, 0, 0, .2)), url("/img/pizza8.png.JPG");
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 15px 0;
    text-align: center;
    margin: 30px auto;
    height: 400px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor-pedido button {
    font-weight: bold;
}

/*contacto*/


#contacto {
    padding: 50px 15px;
}

#contacto .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
}

#contacto .left-contact .contact-info .contact-item {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around
}

#contacto .left-contact .contact-info .contact-item p {
    margin: .3rem 0 !important;
    padding: 0 !important;
}

#contacto .left-contact .contact-info .contact-item .icon {
    display: grid;
    -ms-grid-columns: 40px 1fr;
    grid-template-columns: 40px 1fr;
}

#contacto .left-contact .contact-info .contact-item .icon i {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
}

#contacto .left-contact .contact-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
}

#contacto .contenedor-form {
    max-width: 800px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 2px solid rgb(238, 97, 31);
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

#contacto .btn-enviar:hover {
    background-color: rgb(238, 97, 31);
    color: beige;
}





/*Footer*/
footer {
    background-color: rgb(176, 127, 231);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;

}



@media screen and (max-width: 858px) {

    #button {
        width: 80px;
        height: 50px;
        margin-right: 10px;        
    }

    #iconomenu {
        display: block;

    }

    #nav {
        display: none;
    }

    #nav.responsive {
        display: block;
        background-color: 0, 0, rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    #inicio img {
        width: 50px;
        height: 50px;
    }

    #nav.responsive ul {
        display: block !important;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: #2c3350;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 5.s;
    }

    #nav.responsive ul li {
        display: block;
        line-height: 30px;
        margin: 40px;
    }

    #nav.responsive ul li a {
        font-size: 20px;
        margin: 5px 0;
        background: none;
    }
        

    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .close {
        top: 20px;
        right: 20px;
    }   

    .contenedorsomos{
        display: block;
        text-align: center;            
    }
    
    .contenedorsomos .somos{
        margin: 30px auto;
    }

    .contenedorsomos .imgsomos{
        margin: 20px auto;       
    }

    #pedido{
        padding: 50px 20px;
    }

    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }

    footer .redes{
        display: block;        
    }
   
   
}